#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}


.box {
    font-size: 12px;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}